.operation {
    flex-grow: 1;
}

.keyboard {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
}

.keyboard .key, .switchBar {
    background-color: rgb(97, 99, 100);
    min-width: 20px;
    max-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    user-select: none; /* 防止选择文本 */
    outline: none; /* 去掉焦点时的轮廓 */
}

.keyboard .key:hover, .keyboard .key:focus, .switchBar:hover {
    background-color: rgb(61, 62, 62); /* 悬停和聚焦时的背景色 */
    cursor: pointer; /* 鼠标样式 */
}

.keyboard .key:active, .switchBar:active {
    transform: scale(0.9); /* 点击时缩小 */
}

.keyboard .key:focus, .switchBar:focus {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.6); /* 聚焦时添加明显的外发光 */
}

.bit-toggle {
    /*flex: 1;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(4, 1fr); !* 2列排列 *!*/
    /*gap: 1px;*/
    height: 40vh;
}

.bit-suite-1, .bit-suite-2 {
    padding-top: 20px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2列排列 */
    gap: 1px;
    height: 20vh;
    position: relative;
}

.bit-title-1, .bit-title-2 {
    position: absolute;
    top: 5px;
}

.bit-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10px;
}


.bit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%; /* 每个 bit-container 占一行的四分之一 */
}

.bit-button {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
    width: 90%;
    height: 40%;
}

.bit-button:hover {
    color: #ccc;
}

.footnote {
    font-size: 12px;
    color: #888;
    margin-top: 2px; /* 脚注与按钮之间的间距 */
}
