.output {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    min-height: 100px;
}

.ans, .first, .second {
    font-size: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 1px;
    font-family: monospace; /* 使用等宽字体 */
}

.ans {
    padding-top: 5px;
}

.first {
    padding-top: 10px;
}

.second {
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5px;

}
.num{
    display: flex;
}

.second .op {
    font-size: 16px;
    letter-spacing: normal;
}

.divider {
    border-bottom: 1px solid #ccc;
}

.group {
    display: flex; /* 使用 flex 布局 */
    margin-left: 5px; /* 每组之间的间距 */
}

.group span {
    display: inline-block; /* 使用 inline-block 确保每个字符都作为独立的块 */
    text-align: center; /* 每个字符居中 */
}
