.output {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    min-height: 100px;
}

.ans, .first, .second {
    font-size: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 1px;
}

.ans {
    padding-top: 5px;
}

.first {
    padding-top: 10px;
}

.second {
    justify-content: space-between;
    padding-bottom: 5px;
}

.second .op {
    font-size: 16px;
    letter-spacing: normal;
}

.divider {
    border-bottom: 1px solid #ccc;
}
